In [11]:
cars = ["Ford", "Volvo", "BMW"]
print(cars)

['Ford', 'Volvo', 'BMW']

In [12]:
cars.append("Honda")
print(cars)

['Ford', 'Volvo', 'BMW', 'Honda']

In [14]:
cars.pop(1)
print(cars)

['Ford', 'BMW']

In [17]:
x = cars[0]
print(x)

Ford

In [18]:
print(len(cars))

2

In [19]:
for x in cars:
    print(x)

Ford
BMW

In [23]:
cars.remove('BMW')

ValueError: list.remove(x): x not in list

In [24]:
print(cars)

['Ford']

In [25]:
cars.clear()

In [26]:
cars.append(1)

In [32]:
from array import array
arr = array('i', [1, 2, 3, 4])  # Array of integers
print((arr[0]))

1

In [36]:
fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits=  fruits + cars

x = fruits.index("cherry")
print(x)

2

In [43]:
fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange")

print(fruits)

fruits.remove('apple')

print

['apple', 'orange', 'banana', 'cherry']

In [44]:
print(fruits)

['orange', 'banana', 'cherry']

In [46]:



L = [1, 5, 4, 2, 3]
print(L)
#Print the sorted list
print("Sorted list:")
print(sorted(L))
 
#Print the original list
print("\nOriginal list after sorting:")
print(L)

[1, 5, 4, 2, 3]
Sorted list:
[1, 2, 3, 4, 5]

Original list after sorting:
[1, 5, 4, 2, 3]

In [47]:
L = [1, 5, 4, 2, 3]
print(L)
# Sorting the list in-place using sort()
L.sort()

# Print the sorted list
print("Sorted list:")
print(L)

# Print the original list after sorting
print("\nOriginal list after sorting:")
print(L)

[1, 5, 4, 2, 3]
Sorted list:
[1, 2, 3, 4, 5]

Original list after sorting:
[1, 2, 3, 4, 5]

In [49]:
# List
x_list = ['q', 'w', 'r', 'e', 't', 'y']
print("Original List:", x_list)
sorted_list = sorted(x_list)
print("Sorted List:", sorted_list)
print(x_list)
 
# Tuple
x_tuple = ('q', 'w', 'e', 'r', 't', 'y')
print("\nOriginal Tuple:", x_tuple)
sorted_tuple = sorted(x_tuple)
print("Sorted Tuple:", sorted_tuple)
print(x_tuple)

Original List: ['q', 'w', 'r', 'e', 't', 'y']
Sorted List: ['e', 'q', 'r', 't', 'w', 'y']
['q', 'w', 'r', 'e', 't', 'y']

Original Tuple: ('q', 'w', 'e', 'r', 't', 'y')
Sorted Tuple: ['e', 'q', 'r', 't', 'w', 'y']
('q', 'w', 'e', 'r', 't', 'y')

In [51]:
# Using sort() with reverse for List of Integers, Floating Point Numbers, and Strings

# List of Integers
numbers = [1, 3, 4, 2]
print("Original List:", numbers)
numbers.sort(reverse=True)
print("Sorted List (Descending Order):", numbers)
print(numbers)

# List of Floating Point Numbers
decimal_numbers = [2.01, 2.00, 3.67, 3.28, 1.68]
print("\nOriginal List:", decimal_numbers)
decimal_numbers.sort(reverse=True)
print("Sorted List (Descending Order):", decimal_numbers)
print(decimal_numbers)

# List of Strings
words = ["Geeks", "For", "Geeks"]
print("\nOriginal List:", words)
words.sort(reverse=True)
print("Sorted List (Descending Order):", words)
print(words)

Original List: [1, 3, 4, 2]
Sorted List (Descending Order): [4, 3, 2, 1]
[4, 3, 2, 1]

Original List: [2.01, 2.0, 3.67, 3.28, 1.68]
Sorted List (Descending Order): [3.67, 3.28, 2.01, 2.0, 1.68]
[3.67, 3.28, 2.01, 2.0, 1.68]

Original List: ['Geeks', 'For', 'Geeks']
Sorted List (Descending Order): ['Geeks', 'Geeks', 'For']
['Geeks', 'Geeks', 'For']

In [55]:
# Using sort() with reverse for List of Integers, Floating Point Numbers, and Strings

# List of Integers
numbers = [1, 3, 4, 2]
print("Original List:", numbers)
numbers.sort(reverse=True)
print("Sorted List (Descending Order):", numbers)

# List of Floating Point Numbers
decimal_numbers = [2.01, 2.00, 3.67, 3.28, 1.68]
print("\nOriginal List:", decimal_numbers)
decimal_numbers.sort(reverse=True)
print("Sorted List (Descending Order):", decimal_numbers)

# List of Strings
words = ["Geeks", "For", "Geeks"]
print("\nOriginal List:", words)
words.sort(reverse=True)
print("Sorted List (Descending Order):", words)

Original List: [1, 3, 4, 2]
Sorted List (Descending Order): [4, 3, 2, 1]

Original List: [2.01, 2.0, 3.67, 3.28, 1.68]
Sorted List (Descending Order): [3.67, 3.28, 2.01, 2.0, 1.68]

Original List: ['Geeks', 'For', 'Geeks']
Sorted List (Descending Order): ['Geeks', 'Geeks', 'For']

In [57]:
# Using sorted() with reverse for List of Integers, Floating Point Numbers, and Strings

# List of Integers
numbers = [1, 3, 4, 2]
print("Original List:", numbers)
sorted_numbers = sorted(numbers, reverse=True)
print("Sorted List (Descending Order):", sorted_numbers)
print(numbers)

# List of Floating Point Numbers
decimal_numbers = [2.01, 2.00, 3.67, 3.28, 1.68]
print("\nOriginal List:", decimal_numbers)
sorted_decimal_numbers = sorted(decimal_numbers, reverse=True)
print("Sorted List (Descending Order):", sorted_decimal_numbers)
print(decimal_numbers)

# List of Strings
words = ["Geeks", "For", "Geeks"]
print("\nOriginal List:", words)
sorted_words = sorted(words, reverse=True)
print("Sorted List (Descending Order):", sorted_words)
print(words)

Original List: [1, 3, 4, 2]
Sorted List (Descending Order): [4, 3, 2, 1]
[1, 3, 4, 2]

Original List: [2.01, 2.0, 3.67, 3.28, 1.68]
Sorted List (Descending Order): [3.67, 3.28, 2.01, 2.0, 1.68]
[2.01, 2.0, 3.67, 3.28, 1.68]

Original List: ['Geeks', 'For', 'Geeks']
Sorted List (Descending Order): ['Geeks', 'Geeks', 'For']
['Geeks', 'For', 'Geeks']

In [60]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort()

print(cars)

['BMW', 'Ford', 'Volvo']

In [62]:
cars.sort(reverse=True)
print(cars)

['Volvo', 'Ford', 'BMW']

In [64]:
def myFunc(e):
  return e['year']

cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key=myFunc)

print(cars)

[{'car': 'Mitsubishi', 'year': 2000}, {'car': 'Ford', 'year': 2005}, {'car': 'VW', 'year': 2011}, {'car': 'BMW', 'year': 2019}]

In [65]:
# A function that returns the length of the value:
def myFunc(e):
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(key=myFunc)
print(cars)

['VW', 'BMW', 'Ford', 'Mitsubishi']

In [67]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [70]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])
print(thislist[2:])
print(thislist[-4:-1])

['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']

In [72]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant"]
print(thislist)

['apple', 'blackcurrant', 'orange', 'kiwi', 'mango']

In [73]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [95]:
thislist ="apple"
tropical = ["mango", "pineapple", "papaya"]

tropical.extend(thislist)
tropical.append()

print(tropical)

['mango', 'pineapple', 'papaya', 'a', 'p', 'p', 'l', 'e']

In [98]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [100]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [101]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [102]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [103]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [104]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [105]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [106]:
newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [107]:
newlist = [x for x in fruits]

In [110]:
from typing import List
class Solution:
    def numUniqueEmails(self, emails: List[str]) -> int:
        return emails

In [113]:
solution = Solution()

# Test case 1
emails = [
    "test.email+alex@leetcode.com", 
    "test.e.mail+bob.cathy@leetcode.com", 
    "testemail+david@lee.tcode.com"
]
print(solution.numUniqueEmails(emails))

['test.email+alex@leetcode.com', 'test.e.mail+bob.cathy@leetcode.com', 'testemail+david@lee.tcode.com']